*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

section {
  max-width: 812px;
  margin: 0 auto;
  background-color: #fff1e9;
}

.container {
  margin: 0 auto;
  max-width: 290px;
  width: 100%;
}

.title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  color: #181818;
}
.title-intro {
  font-size: 18px;
  padding: 25px 120px 19px 0;
}
.title-more {
  font-size: 15px;
  line-height: 19px;
}

.text {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #5E5E5E;
  padding-bottom: 15px;
}
.text-how {
  padding: 0 15px;
}
.text-how__second {
  padding-top: 15px;
}
.text-more {
  padding: 20px 15px 0 0;
}

.subtitle {
  padding-bottom: 18px;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #5E5E5E;
}

.how {
  padding-top: 15px;
  position: relative;
}
.how__art {
  position: absolute;
  right: 0;
  top: -180px;
}
.how__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how__inner--item {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.how__inner--item__img {
  display: block;
  width: 44px;
  height: 39px;
}

.more__link {
  margin: 30px auto 0 auto;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #9291D8;
  width: 195px;
  padding: 17px 0px;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.more__link:hover {
  opacity: 0.7;
  transition: 0.2s linear;
}

.footer {
  padding-top: 30px;
  background-image: url("../img/white_line.svg");
  background-position-y: -10px;
  background-repeat: no-repeat;
}
.footer__inner {
  position: relative;
  display: flex;
}
.footer__img {
  display: block;
  width: 217px;
  height: 295px;
}
.footer__img--dots {
  position: absolute;
  top: 125px;
}
.footer__text {
  position: absolute;
  right: 0;
  top: 45px;
  display: flex;
  flex-direction: column;
}
.footer__text--item {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.footer__link {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.footer__link--img {
  display: block;
  width: 20px;
  height: 20px;
}
.footer__link--img svg {
  display: block;
  width: 100%;
  height: 100%;
}
.footer__link--link {
  padding-left: 8px;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}
.footer__link--link:hover {
  opacity: 0.7;
  transition: 0.2s linear;
}

/*ADAPTIVE*/
@media (max-width: 812px) {
  .container {
    max-width: 500px;
  }

  .subtitle {
    font-size: 16px;
  }

  .title-intro {
    font-size: 24px;
  }
  .title-more {
    font-size: 22px;
  }

  .text {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 25px;
  }
  .text-how {
    padding: 0 15px 15px 15px;
  }
  .text-more {
    padding: 20px 15px 0 0;
  }

  .how {
    position: relative;
  }
  .how__inner--item__img {
    display: block;
    width: 59px;
    height: 54px;
  }

  .more__link {
    width: 400px;
    padding: 19px 0px;
    font-size: 19px;
  }
  .more__link:hover {
    opacity: 0.7;
    transition: 0.2s linear;
  }

  .footer {
    padding-top: 30px;
    background-image: url("../img/white_line.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .footer__img {
    display: block;
    width: 247px;
    height: 325px;
  }
  .footer__text {
    position: absolute;
    right: 0;
    top: 45px;
    display: flex;
    flex-direction: column;
  }
  .footer__text--item {
    font-size: 24px;
  }
  .footer__link {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .footer__link--img {
    display: block;
    width: 30px;
    height: 30px;
  }
  .footer__link--link {
    font-size: 19px;
  }
}
@media (max-width: 568px) {
  .container {
    max-width: 400px;
  }
}
@media (max-width: 414px) {
  .container {
    max-width: 354px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 17px;
  }

  .text {
    font-size: 14px;
    line-height: 17px;
  }

  .more__link {
    width: 200px;
    padding: 17px 0px;
    font-size: 17px;
  }

  .how__inner--item__img {
    width: 44px;
    height: 39px;
  }

  .footer__img {
    display: block;
    width: 217px;
    height: 295px;
  }
  .footer__text {
    position: absolute;
    right: 0;
    top: 45px;
    display: flex;
    flex-direction: column;
  }
  .footer__text--item {
    font-size: 20px;
  }
  .footer__link--img {
    display: block;
    width: 20px;
    height: 20px;
  }
  .footer__link--link {
    font-size: 19px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 290px;
  }

  .subtitle {
    font-size: 12px;
    line-height: 15px;
  }

  .title {
    font-family: "Arial";
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    color: #181818;
  }
  .title-intro {
    font-size: 18px;
    padding: 25px 120px 25px 0;
  }
  .title-how {
    font-size: 18px;
    padding: 25px 60px 25px 0;
  }
  .title-more {
    font-size: 16px;
  }

  .text {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #5E5E5E;
    padding-bottom: 15px;
    padding-right: 21px;
  }
  .text-more {
    padding: 20px 15px 0 0;
  }

  .footer {
    padding-top: 30px;
    background-image: url("../img/white_line.svg");
    background-position-y: -10px;
    background-repeat: no-repeat;
  }
  .footer__inner {
    position: relative;
    display: flex;
  }
  .footer__img {
    display: block;
    width: 217px;
    height: 295px;
  }
  .footer__img--dots {
    position: absolute;
    top: 125px;
  }
  .footer__text {
    position: absolute;
    right: 0;
    top: 45px;
    display: flex;
    flex-direction: column;
  }
  .footer__text--item {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }
  .footer__link {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .footer__link--img {
    display: block;
    width: 20px;
    height: 20px;
  }
  .footer__link--img svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  .footer__link--link {
    padding-left: 8px;
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #000000;
  }
  .footer__link--link:hover {
    opacity: 0.7;
    transition: 0.2s linear;
  }
}
/*FONTS*/
@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Arial";
  src: url(../fonts/Arial-Black.ttf);
  font-weight: 900;
}